.salaryBlock {
  flex: 1;
  border-radius: 8px;
  border: 1px solid #dcdcdc;
  padding: 0.6em 1.2em;
}
.salaryHeader {
  display: flex;
  justify-content: center;

  border-bottom: 1px solid #dcdcdc;
}
.salaryHeader h2 {
  margin-bottom: 5px;
  font-size: 1.2em;
  font-weight: 600;
}
.salaryContent {
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding-top: 20px;
}
.salaryMonth,
.salaryToday {
  display: flex;
  gap: 5px;
  flex-direction: column;
}
.salaryContent h3 {
  font-size: 1.1em;
  font-weight: 600;
}
.salaryMonth span {
}
.salaryToday {
}
.salaryToday span {
}
@media (max-width: 575.98px) {
    .salaryHeader h2 {
        font-size: .9em;
    }
    .salaryContent {
        padding-top: 10px;
        gap: 10px;
    }
    .salaryContent h3 {
        font-size: 1em;
    }
    .salaryContent span {
        font-size: .9em;
    }
}