# PyCharm IDE
.idea/
*.iws
*.iml
*.ipr

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
venv/
env/
.venv/

# Environment variables
.env
*.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
*.log
logs/

# Docker
Dockerfile.dev
Dockerfile.prod
docker-compose.override.yml
.docker/

# Netlify
.netlify/
dist/
build/          # если это не требуется для Netlify
.functions/

# OS
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints/

# Testing
.coverage
.pytest_cache/

bowls-react/node_modules/