
.reportcontainer {
    width: 100%;
    padding: 5px 0 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.dateblock {
    padding: 5px 0;
}

.dateButton {
    background: none;
    border: none;
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
    font: inherit;
    transition: all .5s;
}

.dateButton:hover {
    opacity: .3;
}

.reportContent {
    display: flex;
    justify-content: center;
}

/* TABLE */
.reportContent table {
    max-width: 400px;
}

.reportContent table,
.reportContent thead {
    font-size: 1em;
}
.reportContent table th,
.reportContent table td {
    padding: 2px 0;
}
.reportContent thead tr {
    color: #555;
}
.reportContent tbody tr:nth-child(even) {
    background-color: #f1f1f1;
}
.reportContent tbody tr:hover {
    background-color: #e2e2e2;
}
.reportContent th:nth-child(1) {
    width: 33%;
}
.reportContent th:nth-child(2) {
    width: 100px;
}
.reportContent th:nth-child(3) {
    width: 200px;
}
/* TABLE */